test:
  three_plid: "111"
  login: "xxxxxxxxxx"
  password: "xxxxxxxxxx"
  three_plkey: "{xxxxxxxxxxxxxxx}"
  facility_id: "0"
  customer_id: "0"
  spree_endpoint: "http://example.com/api"
  spree_token: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
